#contact {
    text-align: center;

    .inner-section {
        padding: 50px;
    }

    h3, p, a {
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
    }

    h3 {
        font-size: 20px;
        font-family: 'Poppins', sans-serif;
        letter-spacing: 1px;
        font-size: 1.1em;
        line-height: 1.1em;
        margin: 0.85em 0;
        font-weight: 700 !important;
    }

    .flex-item p {
        margin: 0.85em 0;
    }

    li a.menu-link {
        display: block;
        padding: 4px 0px 5px 0;
        text-decoration: none;
    }

    .button-container {
        margin-top: 2em;

        .small-button {
            background-color: #444444;
            border-color: #444444;
            color: #ffffff;
            padding: 15px 30px 13px;
        }
    }
}