.flex-items-container {
    display: flex;
    padding: 0 50px;

    .flex-item &> img {
        padding: 10%;
    }

    .quarter-item {
        width: 22%;
        &> img {
            padding: 10%;
        }
    }

    .third-item {
        width: 30%;
    }

    .half-item {
        width: 48%;
    }
}

.flex-items-container.flex-stretch {
    justify-content: space-between;
    align-items: stretch; 
}

.flex-items-container.flex-centered {
    align-items: center;
    justify-content: center;
}