.flex-items-container {
    display: flex;
    padding: 0 50px;
    flex-direction: row;
    flex-wrap: wrap;
    
    .flex-item {
        flex: 0 0 auto;
    }

    .col-1 {
        width: 7%;
    }

    .col-2 {
        width: 15%;
    }

    .col-3 {
        width: 22%;
    }

    .col-4 {
        width: 29%;
    }

    .col-5 {
        width: 36%;
    }

    .col-6 {
        width: 46%;
    }

    .col-7 {
        width: 51%;
    }

    .col-8 {
        width: 66%;
    }

    .col-9 {
        width: 73%;
    }

    .col-10 {
        width: 80%;
    }

    .col-11 {
        width: 88%;
    }

    .col-12 {
        width: 100%;
    }
}

.flex-items-container.flex-stretch {
    justify-content: space-between;
    align-items: stretch; 
}

.flex-items-container.flex-centered {
    align-items: center;
    justify-content: center;
}