header {
    background-color: white;
    position: fixed;
    height: 120px;
    z-index: 500;
    box-shadow: 0 0 2px 1px rgba(0,0,0,0.1);

    .header-contact {
        line-height: 30px;
        background-color: $primary-color;
        height: 30px;
        margin-bottom: -1px;

        .phone {
            padding-right: 20px;
        }
    }

    .header-main {
        height: 90px;
        
        .logo {
            float: left;
            position: absolute;
            z-index: 1;
            width: 150px;
            padding-top: 15px;
            padding-bottom: 15px !important;
        }
    
        .main-nav {
            clear: none;
            float: right;
            position: relative;
            line-height: 30px;
            height: 100%;
            margin: 0;
            
            > ul.menu > li.menu-item {
                line-height: 70px;
                float: left;
                position: relative;
                
                &:not(:last-child) {
                    padding: 0 13px;
                }
            }
        }
    }
}
