.pricing-table-container {
    table-layout: fixed;
    display: table;
    position: relative;
    margin: 30px 0;
    width: 100%;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 15px;
    
    .pricing-table-wrap {
        display: table-cell;
    }
}

.pricing-table-wrap ul {
    margin: 10px;
    text-align: center;
    @include box-shadow(0 0 1px 0px rgba(0, 0, 0, 0.1));

    li {
        padding: 9px 12px;

        &:nth-child(odd) {
            background-color: rgb(252, 252, 252);
        }

        & strong {
            font-weight: 700;
            color: $primary-color;
        }

        &.table-header {
            background-color: #df2c26;
            color: #ffffff;

            p {
                font-size: larger;
            }
        }

        &.pricing {
            font-weight: 700;
            font-family: Poppins;
            color: white;
            font-size: 30px;
            line-height: 1em;
            padding: 25px 12px;
            background-color: $dark-text-color;
        }

        & > .button {
            display: inline-block;
        }
    }
}