<section id="contact">
    <div class="container">
        <div class="inner-section">
            <div class="flex-items-container flex-stretch">
                <div class="flex-item col-3 col-md-6 col-sm-12">
                    <h3>PACKITOO</h3>
                    <ul>
                        <li class="menu-item">
                            <a href="./index.html" class="menu-link">Accueil</a>
                        </li>
                        <li class="menu-item">
                            <a href="./a-propos.html" class="menu-link">A Propos</a>
                        </li>
                        <li class="menu-item">
                            <a href="./tarifs.html" class="menu-link">Tarifs</a>
                        </li>
                    </ul>
                </div>
                <div class="flex-item col-3 col-md-6 col-sm-12">
                    <h3>CONTACT</h3>
                    <p>
                        +33 5 33 09 13 94
                        contact@packitoo.com
                    </p>
                </div>
                <div class="flex-item col-3 col-md-6 col-sm-12">
                    <h3>ESPACE FABRICANTS</h3>
                    <div>
                        <p>Rejoignez maintenant la communauté Packitoo !</p>
                    </div>
                    <div class="button-container">
                        <a href="./espace-fabricants.html" class="button small-button">
                            Comment ça marche ?
                        </a>
                    </div>
                </div>
                <!-- <div class="flex-item col-3 col-md-6 col-sm-12">
                    <h3>NEWSLETTER</h3>
                    Inscrivez-vous et recevez nos prochaines news!
                    <div>
                        <p class="input-container">
                            <input type="text" placeholder="Adresse email*">
                        </p>
                    </div>
                    <div class="button-container">
                        <input type="submit" value="Je m'inscris" class="button small-button" data-sending-label="Envoi">
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</section>
<footer>
    <div class="container">
        <span class="copyright">
            © Copyright 2018 - Packitoo - |
            <a href="/terms-fr.html">Conditions générales</a> |
            <!-- <a href="/privacy-fr.html">Données personnelles</a> | -->
            <a href="/mentions-legales-fr.html">Mentions légales</a>
        </span>
    </div>
</footer>