<section id="contact">
    <div class="container">
        <div class="inner-section">
            <div class="flex-items-container flex-stretch">
                <div class="flex-item col-3 col-md-6 col-sm-12">
                    <h3>PACKITOO</h3>
                    <ul>
                        <li class="menu-item">
                            <a href="./index-en.html" class="menu-link">Home</a>
                        </li>
                        <li class="menu-item">
                            <a href="./a-propos-en.html" class="menu-link">About</a>
                        </li>
                        <li class="menu-item">
                            <a href="./tarifs-en.html" class="menu-link">Pricing</a>
                        </li>
                    </ul>
                </div>
                <div class="flex-item col-3 col-md-6 col-sm-12">
                    <h3>CONTACT</h3>
                    <p>
                        +33 5 33 09 13 94
                        contact@packitoo.com
                    </p>
                </div>
                <div class="flex-item col-3 col-md-6 col-sm-12">
                    <h3>MANUFACTURERS AREA</h3>
                    <div>
                        <p>Join the Packitoo community now !</p>
                    </div>
                    <div class="button-container">
                        <a href="./espace-fabricants-en.html" class="button small-button">
                            How it works ?
                        </a>
                    </div>
                </div>
                <!-- <div class="flex-item col-3 col-md-6 col-sm-12">
                    <h3>NEWSLETTER</h3>
                    Inscrivez-vous et recevez nos prochaines news!
                    <div>
                        <p class="input-container">
                            <input type="text" placeholder="Adresse email*">
                        </p>
                    </div>
                    <div class="button-container">
                        <input type="submit" value="Je m'inscris" class="button small-button" data-sending-label="Envoi">
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</section>
<footer>
    <div class="container">
        <span class="copyright">
            © Copyright - Packitoo - |
            <a href="./terms-fr.html">Terms and conditions</a> |
            <a href="./mentions-legales-en.html">Legal Notice</a>
        </span>
    </div>
</footer>