<header id="header">
    <!-- Start of Async Drift Code -->
    <script>
    "use strict";

    !function() {
      var t = window.driftt = window.drift = window.driftt || [];
      if (!t.init) {
        if (t.invoked) return void (window.console && console.error && console.error("Drift snippet included twice."));
        t.invoked = !0, t.methods = [ "identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ],
        t.factory = function(e) {
          return function() {
            var n = Array.prototype.slice.call(arguments);
            return n.unshift(e), t.push(n), t;
          };
        }, t.methods.forEach(function(e) {
          t[e] = t.factory(e);
        }), t.load = function(t) {
          var e = 3e5, n = Math.ceil(new Date() / e) * e, o = document.createElement("script");
          o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + n + "/" + t + ".js";
          var i = document.getElementsByTagName("script")[0];
          i.parentNode.insertBefore(o, i);
        };
      }
    }();
    drift.SNIPPET_VERSION = '0.3.1';
    drift.load('x3xan72tbayc');
    </script>
    <!-- End of Async Drift Code -->
    <div class="header-contact">
        <div class="container">
            <div class="inner-container">
                <span class="copyright copyright-left">
                    <a href="tel:%20+33%205%2033%2009%2013%2094" class="phone">Appelez-nous: +33 5 33 09 13 94</a>
                    <a href="mailto:contact@packitoo.com">Contactez-nous: contact@packitoo.com</a>
                </span>
                <span class="copyright copyright-right">
                    <a href="https://app.packitoo.com/users/sign_up?role=seller&locale=fr " style=" font-weight:400 !important">
                        Fabricants : Rejoignez notre communauté !
                    </a>
                    <a href="./index.html" style=" font-weight:700 !important">FR</a>
                    <a >/</a>
                    <a href="./index-en.html" style=" font-weight:700 !important">ENG</a>
                </span>
            </div>
        </div>
    </div>
    <div class="header-main">
        <div class="container">
            <div class="inner-container">
                <a href="./index.html" class="logo-container">
                    <img src="./res/images/Packitoo_LOGO.png" alt="Packitoo" class="logo">
                </a>
                <nav class="main-nav" role="navigation">
                        <a class="toggle-nav active" href="#">&#9776;</a>
                        <img src="./res/images/cancel.png" class="close-nav" alt="" width="32px" height="32px">
                        <ul class="menu">
                        <li class="menu-item">
                            <a href="./index.html" class="menu-link">
                                Accueil
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="./a-propos.html" class="menu-link">
                                A Propos
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="./tarifs.html" class="menu-link">
                                Tarifs
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="./espace-fabricants.html" class="menu-link">
                                Espace fabricants
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="https://app.packitoo.com/?locale=fr" class="menu-link">
                                Se connecter
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="https://app.packitoo.com/users/sign_up?role=brand&locale=fr">
                                <span class="button small-button">Déposer mon brief</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>