<div class="wrapper">
    <div class="package">
        <div class="darkgray-header header-block">
            <div class="block">
                <span class="package-text">DECOUVERTE</span><br>
                <span class="package-text red-text">«&nbsp;Ne payez qu’au succès&nbsp;»</span><br>
            </div>
        </div>
    </div>
    <div class="package">
        <div class="darkgray-header header-block">
            <div class="block">
                <span class="package-text">PRO</span><br>
                <span class="package-text red-text">«&nbsp;Développez vos ventes sereinement&nbsp;»</span><br>
            </div>
        </div>
    </div>
    <div class="package">
        <div class="darkgray-header header-block">
            <div class="block">
                <span class="package-text">ENTREPRISE</span><br>
                <span class="package-text red-text">«&nbsp;Surperformez le marché »</span><br>
            </div>
        </div>
    </div>
</div>
<div class="wrapper">
    <div class="package">
        <div class="package-button-alignment-fix">
            <div class="block">
                      <div class="blockbox">
                          <div class="package-content">Abonnement GRATUIT</div>
                      </div>
                      <div class="blockbox">
                          <div class="package-content"></div>
                      </div>
                  <div class="blockbox">
                      <div class="package-content hover-reveal"><br>
                        <div class="package-content hover-visible arrow-div"></div>
                      </div>
                  </div>
              </div>
          </div>
    </div>
    <div class="package">
        <div class="package-button-alignment-fix">
            <div class="block">
                      <div class="blockbox">
                          <div class="package-content">100€ HT/mois</div>
                      </div>
                      <div class="blockbox">
                          <div class="package-content">Facturation semestrielle</div>
                      </div>
                  <div class="blockbox">
                      <div class="package-content hover-reveal"><b>Economisez 20%</b> avec un abonnement annuel<br>
                        <div class="package-content hover-visible arrow-div">960€ au lieu de 1200€</div>
                      </div>
                  </div>
              </div>
          </div>
    </div>
    <div class="package">
        <div class="package-button-alignment-fix">
            <div class="block">
                      <div class="blockbox">
                          <div class="package-content">250€ HT/mois</div>
                      </div>
                      <div class="blockbox">
                          <div class="package-content">Facturation semestrielle</div>
                      </div>
                  <div class="blockbox">
                      <div class="package-content hover-reveal"><b>Economisez 20%</b> avec un abonnement annuel<br>
                        <div class="package-content hover-visible arrow-div">2400€ au lieu de 3000€</div>
                      </div>
                  </div>
              </div>
          </div>
    </div>
</div>
<div class="wrapper">
    <div class="package">
        <div class="div-center">
            <a class="small-button" href="https://app.packitoo.com/users/sign_up?role=seller&locale=fr">Choisir cette formule</a>
        </div>
    </div>
    <div class="package">
        <div class="div-center">
            <a class="small-button" href="https://app.packitoo.com/users/sign_up?role=seller&locale=fr">Choisir cette formule</a>
        </div>
    </div>
    <div class="package">
        <div class="div-center">
            <a class="small-button" href="https://app.packitoo.com/users/sign_up?role=seller&locale=fr">Choisir cette formule</a>
        </div>
    </div>
</div>
<div class="wrapper">
    <div class="package package-bottom">
        <div class="package-button-alignment-fix">

            <div class="block">
              <h4><strong>Profil entreprise :</strong></h4>

                <div class="blockbox">
                  <div class="square-brown"></div>
                  <div class="package-content">Présentation entreprise en 300 caractères</div>
                </div>
                <div class="blockbox">
                  <div class="square-brown"></div>
                  <div class="package-content">en 1 langue</div>
                </div>
                <div class="blockbox">
                  <div class="square-brown"></div>
                  <div class="package-content">Mise en avant de 5 produits en accès public (*)</div>
                </div>
            </div>

            <div class="block">
                <h4><strong>Accès aux appels d’offres&nbsp;:</strong></h4>
                        <div class="blockbox">
                            <div class="square-brown"></div>
                            <div class="package-content">Accès limité</div>
                        </div>
                        <div class="blockbox">
                            <div class="square-brown"></div>
                            <div class="package-content"><b>1</b> participation aux appels d’offres par mois</div>
                        </div>
            </div>

        </div>
    </div>
    <div class="package package-bottom">
        <div class="package-button-alignment-fix">

            <div class="block">
              <h4><strong>Profil entreprise :</strong></h4>

                <div class="blockbox">
                  <div class="square-brown"></div>
                  <div class="package-content">Présentation entreprise en 300 caractères</div>
                </div>
                <div class="blockbox">
                  <div class="square-brown"></div>
                  <div class="package-content">en 2 langues</div>
                </div>
                <div class="blockbox">
                  <div class="square-brown"></div>
                  <div class="package-content">Mise en avant de 20 produits en accès public ou privé (*)</div>
                </div>
            </div>

            <div class="block">
                <h4><strong>Accès aux appels d’offres&nbsp;:</strong></h4>
                        <div class="blockbox">
                            <div class="square-brown"></div>
                            <div class="package-content">Accès complet</div>
                        </div>
                        <div class="blockbox">
                            <div class="square-brown"></div>
                            <div class="package-content">Participation <b>illimitée</b> aux appels d’offres</div>
                        </div>
            </div>

                <div class="block">
                  <h4><strong>Analyse de votre performance :</strong></h4>

                          <div class="blockbox">
                              <div class="square-brown"></div>
                              <div class="package-content">2 fois par an</div>
                          </div>
                </div>
        </div>
    </div>
    <div class="package package-bottom">
        <div class="package-button-alignment-fix">

            <div class="block">
              <h4><strong>Profil entreprise :</strong></h4>

                <div class="blockbox">
                  <div class="square-brown"></div>
                  <div class="package-content">Présentation entreprise en 300 caractères</div>
                </div>
                <div class="blockbox">
                  <div class="square-brown"></div>
                  <div class="package-content">en 2 langues</div>
                </div>
                <div class="blockbox">
                  <div class="square-brown"></div>
                  <div class="package-content">Mise en avant de 100 produits en accès public ou privé (*)</div>
                </div>
            </div>

            <div class="block">
                <h4><strong>Accès aux appels d’offres&nbsp;:</strong></h4>
                        <div class="blockbox">
                            <div class="square-brown"></div>
                            <div class="package-content">Accès complet et prioritaire</div>
                        </div>
                        <div class="blockbox">
                            <div class="square-brown"></div>
                            <div class="package-content">Participation <b>illimitée</b> aux appels d’offres</div>
                        </div>
                        <div class="blockbox">
                            <div class="square-brown"></div>
                            <div class="package-content"><b>Notifications prioritaires</b></div>
                        </div>
            </div>

                <div class="block">
                  <h4><strong>Analyse de votre performance :</strong></h4>

                          <div class="blockbox">
                              <div class="square-brown"></div>
                              <div class="package-content">4 fois par an</div>
                          </div>
                          <div class="blockbox">
                              <div class="square-brown"></div>
                              <div class="package-content">Suivi personnalisé un expert Packitoo</div>
                          </div>
                </div>
        </div>
    </div>
</div>
<p>Lorsque vous recevez une nouvelle commande grâce à la mise en relation Packitoo, une commission de 10% vous sera facturée sur le montant complet de la vente. Voir nos <a target="_blank" href="https://app.packitoo.com/docs/FR_CGV_122017.pdf">conditions générales de ventes</a>.</p>
<p>(*) La fonctionnalité de mise en avant de produits est en cours de développement. Nous vous tiendrons informé dans les prochaines semaines de son déploiement pour m