@import './variables.scss';
@import './fonts.scss';

// Mixins
@import './mixins/background-img.scss';
@import './mixins/border-radius.scss';
@import './mixins/project-button.scss';
@import './mixins/overlay.scss';

// Components
@import './components/animation.scss';
@import './components/buttons.scss';
@import './components/input.scss';
@import './components/contact.scss';
@import './components/copyrights.scss';
@import './components/empty-div.scss';
@import './components/header.scss';
@import './components/footer.scss';
@import './components/flexbox.scss';

// Keyframes (animations)
@import './keyframes/image_appear.scss';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font: 13px/1.65em "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #444;
    background-color: $secondary-color;
    -webkit-text-size-adjust: 100%;
}

body, div {
    margin: 0;
    padding: 0;
    border: 0;
}

div {
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

footer, header, section {
    display: block;
    width: 100%;
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
    list-style-position: outside;
}

.container {
    max-width: 1310px;
    position: relative;
    margin: 0 auto;
    padding: 0px 1%;
}

.inner-container {
    position: relative;
    height: 100%;
    padding: 0 50px;
}

/*------ TEXT -------*/
h1, h2, h3, h4, h5, h6, p {
    font-style: normal;
    font-stretch: 100%;
}

h1 {
    font-size: 50px;
    font-family: 'Poppins';
    font-weight: 700 !important;
    line-height: 1.1em;
    margin-bottom: 0px;    
}

h2 {
    font-family: 'Poppins';
    font-size: 40px;
    font-weight: 400;
}

h3 {
    font-size: 20px;
    font-weight: 300;
}

.centered-header {
    text-align: center;
}

 .secondary-header {
    margin-bottom: 50px;
}

a {
    text-decoration: none;
    color: $dark-text-color;
}

/*------ MAIN -------*/

div.main {
    padding-top: 120px;
}

section {
    min-height: 100px;
    position: relative;
}

section .container > div {
    padding: 100px 50px;
}

.red-overlay {
    @include overlay($primary-color);
}

.white-overlay {
    @include overlay($secondary-color);
}

/*------------------
    INDEX
------------------*/

#index {
    #presentation {
        @include background-img(center right);
        background-image: url("../images/Homepage-Packitoo.jpg");
    
        h1 {
            color: $primary-color;
        }
    }
    
    #maze {
        @include background-img(center center);
        background-image: url("../images/maze.jpg");
    }
    
    #process {
        h1 {
            color: #444444;
            text-transform: none;
            font-size: 34px;
        }
    
        .process-header {
            padding-top: 70px;
        }
    
        .process-step .inner-section {
            padding: 0 50px;
    
            .half-item.process-text {
                padding: 7%;
            }
            .half-item.process-icon {
                @include animation(image_appear, 0.5s, 1, cubic-bezier(0.175, 0.885, 0.320, 1.275));
            }
        }
    
        #process-step-1 {
            background-color: $secondary-color;
        }
        
        #process-step-2 {
            background-color: white;
        }
    }
    
    #benefit {
        background-color: white;
        font-family: 'Roboto';
    
        .flex-item p {
            font-size: 15px;
            color: $gray-text-color;
        }
    }
    
    #stats {
        background-image: url("../images/Artboard-Copy-5.jpg");  
        color: white;
        
        .flex-items-container {
            text-align: center;
    
            .flex-item {
                strong {
                    font-family: 'Poppins';
                    letter-spacing: -2px;
                
                    .stat-plus-number {
                        font-weight: 400;
                        font-size: 40px;
                        opacity: 0.5;
                    }
    
                    .count {
                        font-weight: 700 !important;
                        font-size: 60px;
                    }
                }
    
                &> div {
                    font-size: 20px;
                }
            }
        }
    }
    
    #community {
    
    }
    
    #call-to-action {
        background-image: url("../images/001-e1494361373846-1500x1266.jpg");
        @include background-img(bottom left);
    
        // Parallax effect
        background-attachment: fixed;
    }
}

/*------------------
    ABOUT
------------------*/
#about {
    #about-header {
        background-image: url("../images/Artboard-Copy-5.jpg");  
        color: white;
    
        // Doesn't force section min height
        .inner-container {
            height: auto;
    
            .subheader {
                font-family: 'Roboto';
                font-size: 20px;
                font-weight: 300;
                margin-top: 0.3em;
            }
        }
    }
    
    #origins {
        background-image: url("../images/Artboard-Copy-7-1500x990.jpg");
        @include background-img(bottom right);
    
        background-attachment: fixed;
    }
    
    #talks {
        background-image: url("../images/Artboard-Copy-5.jpg");  
        color: white;
    }
}

/*------------------
    PRICING
------------------*/
#pricing {

}

/*------------------
    MANUFACTURER
------------------*/

/*------------------
    LEGALS
------------------*/

#legals {
    
}