@import './variables.scss';
@import './fonts.scss';

// Mixins
@import './mixins/background-img.scss';
@import './mixins/border-radius.scss';
@import './mixins/project-button.scss';

// Components
@import './components/buttons.scss';
@import './components/copyrights.scss';
@import './components/empty-div.scss';
@import './components/header.scss';
@import './components/footer.scss';

* {box-sizing: border-box}

body {
    font: 13px/1.65em "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #444;
    background-color: $secondary-color;
    -webkit-text-size-adjust: 100%;
}

body, div {
    margin: 0;
    padding: 0;
    border: 0;
}

div {
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

footer, header, section {
    display: block;
    width: 100%;
}

ul {
    list-style: none;
    list-style-position: outside;
}

.container {
    max-width: 1310px;
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 0px 50px;
}

.inner-container {
    position: relative;
    height: 100%;
    padding: 0 50px;
}

/*------ TEXT -------*/
h1, h2, h3, h4, h5, h6, p {
    font-style: normal;
    font-stretch: 100%;
}

h1 {
    font-size: 50px;
    font-family: 'Poppins';
    font-weight: 700 !important;
    line-height: 1.1em;
    color: $primary-color;
    margin-bottom: 0px;    
}

h2 {
    font-family: Poppins;
    font-size: 40px;
    font-weight: 400;
}

h3 {
    font-size: 20px;
    font-weight: 300;
}

.centered-header {
    text-align: center;
}

 .secondary-header {
    margin-bottom: 50px;
}

a {
    text-decoration: none;
    color: $dark-text-color;
}

/*------ MAIN -------*/

div#main {
    padding-top: 120px;
}

section {
    min-height: 100px;
    position: relative;
}

section .container > div {
    padding: 100px 50px;
}

.red-overlay {
    background-color: $primary-color;
    opacity: 0.9;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

#presentation {
    @include background-img(center right);
    background-image: url("../images/Homepage-Packitoo.jpg");

    .call-to-action-container .button {

    }
}

#maze {
    @include background-img(center center);
    background-image: url("../images/maze.jpg");
}

#process {
    .process-step {

    }

    #process-step-1 {
        background-color: $secondary-color;
    }
    
    #process-step-2 {
        background-color: white;
    }
    
    #process-step-3 {
    
    }
}

#benefit {    
}

#stats {
    background-image: url("../images/Artboard-Copy-5.jpg");  
    color: white;
}

#community {
    img {
        max-width: 100%;
    }
}

#call-to-action {
    background-image: url("../images/001-e1494361373846-1500x1266.jpg");
    @include background-img(bottom lef);
}

#contact {

}